<h2 class="center">コースページ</h2>
<a class="button" href="/courses/new">コースを作成</a>
<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% courses.forEach(course => { %>
    <tr>
      <td>
        <a href="<%= `/courses/${course._id}` %>">
          <%= course.title %>
        </a>
      </td>
      <td>
        <%= course.description %>
      </td>
      <td>
        <a href="<%=`courses/${course._id}/edit`%>">
            編集
        </a>
      </td>
      <td>
        <a href="<%= `courses/${course._id}/delete?_method=DELETE` %>" onclick="return confirm('削除しますか?')" a>削除</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>